*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Poppins';
}
header h1{
    text-align: center;
    color: #005bc5;
}
h3{
    text-align: center;
    color: #012677;
}
header{
    margin-bottom: 2%;
}
form{
    border-radius: 10%;
    border: solid black 2px;
    width: 60%;
    padding: 20px 10px;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}
form div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
label,input{
    color: #001449;
}
form div input{
    width: 50%;
    margin-left: 10%;
    padding:10px 10px ;
}
form div label:hover{
    scale: 1.5;
    cursor: pointer;
    transition: 1s;
    text-decoration: underline;
}
main button{
    float: right;
    padding: 5px 5px;
    border:solid 1px #001449;
    background-color: #001449;
    font-size: large;
    border-radius: 10%;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
main button:hover{
    color: black;
    cursor: pointer;
    background-color: white;
}
footer{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer img{
    float: right;
    width: 21%;
}
