*{
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
header h1{
    text-align: center;
    color: #005bc5;
}
h3{
    text-align: center;
    color: #012677;
}
form div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
form{
    background-color: white;
    border: solid transparent 2px;
    border-radius: 10%;
    width: 60%;
    padding: 20px 1px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}
#role{
    margin-top: 20px;
    margin-right: 65%;
} 
button{
    padding: 5PX 5PX;
    border:solid 1px #001449;
    background-color: #001449;
    font-size: large;
    border-radius: 10%;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover{
    color: black;
    cursor: pointer;
    background-color: white;
}

label,input{
    color: #001449;
    position: relative;
}

section a{
    color: black;
    text-decoration: none;
}
section a:hover{
    text-decoration: underline;
    color: black;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer img{
    float: right;
    width: 21%;
    margin-bottom: 0%;
}
@media screen and (max-width:552px){
    form div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    form{
        background-color: white;
        border: solid black 2px;
        border-radius: 10%;
        width: 60%;
        padding: 20px 1px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
    }
        
}
