*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
nav{
    margin-left: 10%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    list-style: none;
}
ul li a{
    color: black;
    text-decoration: none;
}
#employee ul li span{
    float: right;
}
#add{
    text-decoration: none;
    color: black;
}
#employee p a{
    text-decoration: none;
    color: black;
    font-size: large;
}